<h1>Edit your Console</h1>

<form action="/consoles/<%=@console.slug%>" method= "post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" placeholder="Name"> <br />
   <input type="text" name="company" placeholder="Company" value=<%=@console.company%>> <br />
   <input type="date" name="date_added" placeholder="Date added" value=<%=@console.date_added%> ><br />
   <input type="integer" name="generation" placeholder="Generation" value=<%=@console.generation%> > <br />
   <input type="submit" value="submit">
  </form>


  <br>
  <br>
  <br>
  <a href="/users/:slug">Back to your Collection</a>
  <br>
  <br>
  <a href="/logout">Logout</a>
