<h1> <%=@user.username%>'s Consoles:</h1>
<% @user.consoles.each do |console|%>
<ul>
    <li> <a href="/consoles/<%=console.slug%>"><%=console.name%></a></li>
</ul>

<%end%>
<br>
<br>
<a href = "/consoles/new">Add a new console</a><br />
<a href = '/games'>Your Games</a><br />
<a href="/users/:slug">Back to your Collection</a><br />
<a href="/logout">Logout</a>
