<h1> Enter your new console's info here:</h1>

<form action="/consoles" method= "post">
  <input type="text" name="name" placeholder="name"> <br />
   <input type="text" name="company" placeholder="company"> <br />
   <input type="date" name="date added" placeholder="date_added"> <br />
   <input type="integer" name="generation" placeholder="generation"> <br />
   <input type="submit" value="submit">
  </form>
