<h1>Log in to Vigaseum!</h1>

<form action="/login" method="POST">
  <p>
    <label for="username">Username</label>
    <input type ="text" name="username" id="username"/>
  </p>
  <p>
    <label for="password">Password</label>
    <input type ="password" name="password" id="password"/>
  </p>

    <input type="submit" name="submit" id="submit"/>
  </form>
