<h1>Welcome to Vigaseum</h1>

<h2>Before you can impress all those girls with your video game collection you must sign up!</h2>

<form action="/signup" method= "post">
  <input type="text" name="username" placeholder="Username"> <br />
   <input type="email" name="email" placeholder="email"> <br />
   <input type="password" name="password" placeholder="Password"> <br />
   <input type="submit" value="Sign Up">
  </form>
