<h1> <%=@user.username%>' Games:</h1>
<% @games.each do |game|%>
<ul>
    <li> <a href="/games/<%=game.slug%>"><%=game.name%> (<%=game.console.name%>)</a></li>
</ul>

<%end%>

<a href = "/games/new">Add a new game</a><br />

<a href="/users/:slug">Back to your Collection</a>
<br>
<br>
<a href="/logout">Logout</a>
