<h1> <%=@user.username%>'s Games:</h1>
<% @games.order(:name).each do |game|%>
   <% if game %>
<ul>
    <li> <a href="/games/<%=game.slug%>"><%=game.name%> (<% if game.console_id %><%=game.console.name%><%end%>) </a></li>
</ul>
   <% end %>
<% end %>

<a href = "/games/new">Add a new game</a><br />
<br>
<br>
<a href = '/consoles'>Your Consoles</a><br />
<br>
<br>
<a href="/users/:slug">Back to your Collection</a>
<br>
<br>
<a href="/logout">Logout</a>
